<!DOCTYPE html>
<html>
  <head>
    <title>Bookers3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="container">


          <% if user_signed_in? %>

          <ul class="navbar-nav">
            <li class="logo">
              <a class="text-white" id="about-logo">Bookersとは</a>
            </li>
            <li class="logo">
              <%= link_to "Bookers", root_path, class:"text-white" %>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="logo">
              <%= link_to "Home", user_path(current_user.id), class:"text-white" %>
            </li>
            <li class="logo">
              <%= link_to "Users", users_path, class:"text-white" %>
            </li>
            <li class="logo">
              <%= link_to "Books", books_path, class:"text-white" %>
            </li>
            <li class="logo">
              <%= link_to "logout", destroy_user_session_path, method: :delete, class:"text-white" %>
            </li>
  　　　　</ul>
          <% else %>
           <ul class="navbar-nav">
            <li class="logo">
              <%= link_to "Bookers", root_path, class:"text-white" %>
            </li>
           </ul>
           <ul class="navbar-nav ml-auto">
            <li class="logo">
              <%= link_to "Home", root_path, class:"text-white" %>
            </li>
            <li class="logo">
              <%= link_to "About", about_homes_path, class:"text-white" %>
            </li>
            <li class="logo">
              <%= link_to "新規登録", new_user_registration_path, class:"text-white" %>
            </li>
            <li class="logo">
              <%= link_to "ログイン", new_user_session_path, class:"text-white" %>
            </li>

           </ul>
          <% end %>
    </div>
   </nav>

      <div id="overlay" class="close">
        <div class="flex">
          <div class="overlay-inner">
            <p>Vmatchとは</p>
            <a>
              大会や練習会を主催したい人とバレーがしたいけど体育館や大会が見つからない人とのマッチングサイトです。
              主催者は大会の詳細、日時、体育館の場所などを投稿し、ユーザー側は大会がいつどこで行われるのか、観覧することができます。
            </a>
            <button id="close-btn" class="close" type=button>Close</button>
          </div>
        </div>
      </div>

      <%= yield %>

 </body>
</html>
